# IntelliJ
.idea/
*.iml
!.idea/codeStyles
!.idea/runConfigurations
!.idea/vcs.xml
/out
/target

# Build Maven
/target/
aplicacao/target/
dominio-engajamento/target/
dominio-habito/target/
dominio-relatorio/target/
dominio-compartilhado/target/
*.class

# Arquivos temporários
*.log
*.tmp
*.swp

