# IntelliJ
.idea/
*.iml
!.idea/codeStyles
!.idea/runConfigurations
!.idea/vcs.xml
/out
/target

# Build Maven
/target/
aplicacao/target/
infra/target/
dominio/target/
apresentacao/target/
*.class

# Arquivos temporários
*.log
*.tmp
*.swp

