# IntelliJ
.idea/
*.iml
!.idea/codeStyles
!.idea/runConfigurations
!.idea/vcs.xml
/out
/target

*.mv.db

# Arquivos de classes e propriedades gerados pelo build (ex: target/)
docker/target/

# Build Maven
/target/
aplicacao/target/
infra/target/
dominio/target/
apresentacao/target/
*.class

# Arquivos temporários
*.log
*.tmp
*.swp

